.more {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 6fr 6fr;
    grid-template-areas:
        'flux form'
        'pagination api';
    gap: 2rem;
    padding: 3rem 0 0 0;
    height: 90%;
}

.more>div{
    max-width: 30rem;
    width: 100%;
    height: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background: white;
    box-shadow: 0px 10px 15px 0px #4a4af3;
}

@media screen and (max-width: 1200px){
    .more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .more{
        align-items: center;
    }
}