.api{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api>span{
    margin: -1rem 0 1rem 0;
    font-size: 0.8rem;
}

.weather{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    font-size: 18px;
    margin-bottom: 1rem;
}

.weather>:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
}

.searchButton {
    margin: 0 1rem 0 1rem;
    border-radius: 1rem;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid teal;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 1rem 0 1rem;
}

.city {
    background-color: aliceblue;
    box-shadow: 0px 3px 5px 0px #4a4af3;
    min-height: 2rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid teal;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}